@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Banner Styles */
header{
    height: 100vh;
    background-image: url(../assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: right;
}
.banner{
    margin-right: 230px;
    text-align: right;
}
.banner h1{
    color: rgba(255, 255, 255, 1);
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0px;
}
.banner p{
    margin-top: 25px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}
.banner button{
    margin-top: 30px;
    width: 160px;
    height: 64px;
    color: #005FAC;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.09);
    color: #FFFFFF;
    background-color: #005FB1;
    border: 1px solid #FFFFFF;
}

/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Previous Year Styles */
.prev-year{
    margin-top: 140px;
    display: flex;
    align-items: center;
    gap: 135px;
}
.prev-year h2{
    color: var(#151414, rgba(21, 20, 20, 1));
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}
.prev-year p, ul li{
    color: var(#444343, rgba(68, 67, 67, 1));
    font-size: 16px;
    font-weight: 400;
}
.prev-year li{
    list-style: none;
    margin-bottom: 15px;
}
i{
    color: #16D887;
}

/* My Plans */
.my-plans{
    margin-top: 140px;
    text-align: center;
}
.my-plans > h2{
    color: var(#151414, rgba(21, 20, 20, 1));
    font-size: 40px;
    font-weight: 700;
}
.plans{
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
}
.plan h3{
    color: var(#151414, rgba(21, 20, 20, 1));
    font-size: 30px;
    font-weight: 700;
}
.plan p{
    color: var(#737272, rgba(115, 114, 114, 1));
    font-size: 25px;
    font-weight: 500;
}

/* Call Now Styles */
.call-now{
    margin-top: 140px;
    padding: 60px 0px 60px 60px;
    background-image: url(../assets/images/gradient1.png), url(../assets/images/watch.png);
    background-repeat: no-repeat;
    border-radius: 0px 0px 10px 10px;
}
.call-now h2{
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-weight: 700;
}
.call-now p{
    color: rgba(255, 255, 255, 1);
}
.call-now button{
    width: 160px;
        height: 64px;
        font-size: 20px;
        font-weight: 600;
        border: 0;
        border-radius: 5px;
        color: #005FAC;
        background-color: #FFFFFF;
}

/* Footer Styles */
footer{
    margin-top: 140px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 130px 230px;
}
.future{
    color: white;
    width: 50%;
}
.future h2{
    font-size: 45px;
    font-weight: 700;
}
.future p{
    font-size: 16px;
    font-weight: 400;
}
.future img{
    margin-top: 30px;
    margin-right: 20px;
}
.newsletter{
    color: white;
}
.newsletter input{
    display: block;
    margin-bottom: 20px;
}
.newsletter input[type="email"]{
    width: 315px;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}
.newsletter form input[type="submit"]{
    width: 170.11px;
    height: 64px;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    border-radius: 8px;
    background-color: #005FAC;
    color: #FFFFFF;
}
input[type="submit"]:hover{
    transform: scale(1.09);
    color: #FFFFFF;
    background-color: #005FAC;
    border: 1px solid #FFFFFF;
}